	*{
		margin: 0;
		padding: 0;
		border:  none;
		outline: none;
		box-sizing: border-box;
	}

	a{
      text-decoration: none;
      color: black;
    }

    a:visited{
      color: black;
    }

    .box::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 5px
    }

    .box::-webkit-scrollbar
    {
      width: 10px;
      background-color: #F5F5F5;
      border-radius: 5px
    }

    .box::-webkit-scrollbar-thumb
    {
      background-color: black;
      border: 2px solid black;
      border-radius: 5px
    }

    /*Header Section*/


   header {
   	-moz-box-shadow: 10px 10px 23px 0px rgba(2, 155, 247,0.2);
   	box-shadow: 10px 10px 23px 0px rgba(2, 155, 247,0.2);
   	height: 8vh;
   	vertical-align: middle;
   	padding: 1vh 10px;
   	background-color: #222;
   }

    h1 {
    	float: left;
    	padding: 0px 5px;
    	font-size: 25px;
    	text-transform: uppercase;
    	font-family: inherit;
    	/* display: block; */
    	margin: 0px;
    	color: #fff;
    }

    body{
      margin: 0;
      padding: 0;
      font-family: 'Raleway', sans-serif;
    }

    .icons {
    	display: inline;
    	float: right;
    	padding: 0px 0px 0px 0px;
    	
    }

    .notification{
      /*padding-top: 30px;*/
      position: relative;
      display: inline-block;
    }

   .number {
   	height: 20px;
   	width: 20px;
   	background-color: #d63031;
   	border-radius: 20px;
   	color: white;
   	text-align: center;
   	position: absolute;
   	top: 0px;
   	left: -68%;
   	padding: 3px;
   	border-style: solid;
   	border-width: 2px;
   	font-size: x-small;
   }

    .number:empty {
       display: none;
    }

    .notBtn{
      transition: 0.5s;
      cursor: pointer
    }

    .fas{
      width: 20px;
      height: 20px;
      /*padding: 10px 0px;*/
      color: black;
      margin-right: 10px;
      display: inline-block;
      margin: 5px 5px 0px 0px;
      filter:  invert(100%);

    }

    .box{
      width: 400px;
      height: 0px;
      border-radius: 10px;
      transition: 0.5s;
      position: absolute;
      overflow-y: scroll;
      padding: 0px;
      left: -300px;
      margin-top: 5px;
      background-color: #F4F4F4;
      -webkit-box-shadow: 10px 10px 23px 0px rgba(2, 155, 247,0.2);
      -moz-box-shadow: 10px 10px 23px 0px rgba(2, 155, 247,0.2);
      box-shadow: 10px 10px 23px 0px rgba(2, 155, 247,0.2);
      cursor: context-menu;
    }

    .fas:hover {
      color: #d63031;
    }

    .notBtn:hover > .box{
      height: 43vh
    }

    .content{
      padding: 20px;
      color: black;
      vertical-align: middle;
      text-align: left;
    }

    .gry{
      background-color: #F4F4F4;
    }

    .top{
      color: black;
      padding: 10px
    }

    .display{
      position: relative;
    }

    .cont{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #F4F4F4;
    }

    .cont:empty{
      display: none;
    }

    .stick{
      text-align: center;  
      display: block;
      font-size: 50pt;
      padding-top: 70px;
      padding-left: 80px
    }

    .stick:hover{
      color: black;
    }

    .cent{
      text-align: center;
      display: block;
    }

    .sec {
    	padding: 5px 5px;
    	background-color: #F4F4F4;
    	transition: 0.5s;
    	border-style: none none solid none;
      	border-color: rgb(174, 172, 179);
      	background-color: rgb(195, 192, 202);;
    }

    .profCont{
      padding-left: 15px;
    }
    .profTxtCont{
    	float: left;
    	width: 75%;
    }
    .profile {
    	-webkit-clip-path: circle(50% at 50% 50%);
    	clip-path: circle(50% at 50% 50%);
    	width: 15%;
    	float: left;
    }

    .prof-main-txt > img{
    	width: 50px;
    	display: block;
    	float: right;
    	margin-left: 15px;
    	border: 2px solid rgb(2, 155, 247);
    	border-radius: 50%;

    }

    .prof-main-txt {
    	color: rgb(89, 89, 104);
    	font-family: Arial, sans-serif;
    	font-size: medium;
    	text-align: justify;
    	margin: 5px 5px;
    	padding: 0px 2px 0px 2px;
    }

    .prof-sub-txt {
    	color: rgb(89, 89, 104);
    	margin: 5px 5px;
    }

    .sub{
      font-size: 1rem;
      color: grey;
    }

    .new{
      border-style: none none solid none;
      border-color: rgb(2, 155, 247);
      background-color: rgba(163, 212, 242, 0.52);
    }

    .sec:hover{
      background-color: #E6E5E5;
    }


    /*Middle Section*/
    #middle-section{
    	height: 85vh;
    	background-color: #323131;
    }

    /*Footer Section*/

    footer{
    	height: 7vh;
    	vertical-align: middle;
    	/*padding: 0vh 0px;*/
    	background-color: #222;	
    }

     /* Style the tab */
    #tab {
      height: 100%;
      overflow: hidden;
      /*border: 1px solid #ccc;*/
      background-color: rgb(34, 34, 34);
      float: left;

    }

    #button-tab{
      height: 100%;
      background-color: rgb(34, 34, 34);
      float: left;

    }

    /* Style the buttons that are used to open the tab content */
    #tab button {
      background-color: inherit;
      float: left;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      border-style: solid solid none none;
      border-color: #aaa5;
      border-width: 1px 1px 0px 0px;
	  border-top-right-radius: 5px;
      color: ghostwhite;

    }
    #button-tab button {
      background-color: inherit;
      float: left;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      border-style: solid solid none none;
      border-color: #aaa5;
      border-width: 1px 1px 0px 0px;
    border-top-right-radius: 5px;
      color: ghostwhite;

    }

    .plus-image{
    	padding: 7px 10px !important;
    	border:  none !important;
    }

    /* Change background color of buttons on hover */
    #tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    #tab button.active {
    	/* background-color: #ccc; */
    	background-image: linear-gradient(rgba(76, 86, 91, 0.45) 15%, rgb(125, 167, 191) 40%);
    	border-style: solid solid none none;
    	border-color: #ccc;
    	border-width: 1px 1px 0px 0px;
    	color: black;
    }

    /* Style the tab content */
    .tabcontent {
    	display: none;
    	padding: 5px 10px;
    	/* border: 1px solid #ccc; */
    	/* border-top: none; */
    	height: 100%;
    	color: ghostwhite;
    } 

    #tab0{
    	display: block;
    }

    .tab-close{
      margin-left: 5px;
      color: rgba(255, 0, 0, 0.65);
      font-size: 1rem;
      font-weight: bold;
    }
