




<head>
  <link rel="stylesheet" href="./css/index2_styles.css">
</head>

<header>
<h1>stocks</h1>
<div class = "icons">
<!-- <a href = "#"><img class="fas" src="./images/36238.png" alt=""></a> -->
<div class = "notification">
  <a href = "#">
  <div class = "notBtn" href = "#">
    <!--Number supports double digets and automaticly hides itself when there is nothing between divs -->
    <div class = "number">2</div>
    <!-- <i class="fas fa-bell"></i> -->
    <img class="fas" src="./images/36238.png" alt="">
      <div class = "box">
        <div class = "display">
          <div class = "nothing"> 
            <i class="fas fa-child stick"></i> 
            <div class = "cent">Looks Like your all caught up!</div>
          </div>
          <div class = "cont"><!-- Fold this div and try deleting evrything inbetween -->
             <div class = "sec new">
               <a href = "https://codepen.io/Golez/">
               <div class = "div_content_notification">
               
                <p class = "prof-main-txt"><img class = "" src = "https://c1.staticflickr.com/5/4007/4626436851_5629a97f30_b.jpg">James liked your post: "Pure css notification box"</p>
                <p class = "prof-sub-txt">11/7 - 2:30 pm</p>
                </div>
               </a>
            </div>
         </div>
        </div>
     </div>
  </div>
    </a>
</div>
<a href = "#"><img class="fas" src="./images/1633249.png" alt=""></a>
<a href = "#"><img class="fas" src="./images/1970474.png" alt=""></a>
</div>
</header>
